@page "/"
@page "/Home"
@page "/Index"
@page "/Dashboard"
@page "/Dashboard/Home"
@page "/Dashboard/Index"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
